# =========================
# ENV / SECRETS
# =========================
.env
*.env

# =========================
# PYTHON ENV
# =========================
venv/
.venv/

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# TEST / COVERAGE
# =========================
.pytest_cache/
.mypy_cache/
.coverage

# =========================
# IDE / EDITOR
# =========================
.idea/
.vscode/

# =========================
# BUILD / DIST
# =========================
build/
dist/
*.egg-info/

# =========================
# LOG FILES
# =========================
*.log

# =========================
# MISC
# =========================
*.swp
*.tmp
*.bak